<div class="w3-bar nav">
			<a href="#" class="w3-bar-item w3-text-white w3-active">Apps</a>
            <a href="#" class="w3-bar-item w3-text-white">Reports</a>
            <a href="#" class="w3-bar-item w3-text-white">Settings</a>
            <a href="#" class="w3-bar-item w3-text-white">Service</a>
            <a href="#" class="w3-bar-item w3-text-white">About</a>
            <a href="#" class="w3-bar-item w3-text-white">Customer Support</a>
            
            <div class="w3-right">
            	<img src="/app_assets/media/img/logout.png"  class="w3-text-white w3-bar-item  logout_img" alt="logout_img">  <button  class="w3-bar-item w3-button w3-text-white logout_button">Logout</button>
           </div>
		</div>

		<div class="w3-display-container strip" >
			<div class="w3-display-left sims">
				
			</div>
			<div class="w3-display-left space"></div>
			<div class="w3-display-left ist_name">
				<span class="r1 r2">SRM Institutes for Medical Science</span><br>
					<span class="r1 r3">Perungudi, Chennai</span>
			</div>

			<div class="w3-display-right brand_img">
				<img src="/app_assets/media/img/Group_821.png" alt="brand_image" >
			</div>
		</div>