{% block header_script %}
{% load kodystags %}
<style type="text/css">
  tbody tr:nth-child(even) {
      background-color: white!important;
  }
  tbody tr:nth-child(odd) {
      background-color: white!important;
  }
  thead tr {
    background-color: white!important;
}
</style>
  <script type="text/javascript" src="{{MEDIA_URL}}gstatic/loader.js"></script>
  {% if report.report_result %}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['Foot', 'R', 'L'],
          ['Great Toe',  parseFloat('{{report.TM07.0.KEY_VALUE}}'),parseFloat('{{report.TM07.8.KEY_VALUE}}')],
          ['1st MTH',  parseFloat('{{report.TM07.1.KEY_VALUE}}'),parseFloat('{{report.TM07.9.KEY_VALUE}}')],
          ['3rd MTH',  parseFloat('{{report.TM07.2.KEY_VALUE}}'),parseFloat('{{report.TM07.10.KEY_VALUE}}')],
          ['5th MTH',  parseFloat('{{report.TM07.3.KEY_VALUE}}'),parseFloat('{{report.TM07.11.KEY_VALUE}}')],
          ['Medial Arch',  parseFloat('{{report.TM07.4.KEY_VALUE}}'),parseFloat('{{report.TM07.12.KEY_VALUE}}')],
          ['Heel',  parseFloat('{{report.TM07.5.KEY_VALUE}}'),parseFloat('{{report.TM07.13.KEY_VALUE}}')],
        ]);

        var options = {
          title : 'Warm',
          titleTextStyle: {
        fontSize: 14,
        fontName: 'sans-serif'
      },
          legend: { position: 'none',},
          colors: ['#9e0d0d','#711515','black'],
         chartArea: {'top':25,'bottom':35,'width': '86%', 'height': '60%',backgroundColor: {
        stroke: 'black',
        strokeWidth: 1
    }},
          vAxis: {title: '',textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold : true
        },ticks: [
        // use object notation to provide y-axis labels
        {v: 52, f: '52'},
        {v: 50, f: '50'},
        {v: 48, f: '48'},
        {v: 46, f: '46'},
        {v: 44, f: '44'},
        {v: 42, f: '42'},
        {v: 40, f: '40'},
        {v: 38, f: '38'},
        {v: 36, f: '36'},
        {v: 34, f: '34'},
        {v: 32, f: '32'},
        

      ],viewWindow: {
              max:52,
              min:32
            },gridlines: {
          color: 'transparent',
          count: 15,
        }},
          hAxis: {title: '',showTextEvery:1, slantedText:true,textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold : true
        }},
          lineWidth: 1,
          lineDashStyle: [5, 1, 3],
          seriesType: 'bars',
          series: {2: {type: 'line'}},
          height:300,
          enableInteractivity: false,

        };
        var data1 = google.visualization.arrayToDataTable([
          ['Foot', 'R', 'L'],
          ['Great Toe',  36-parseInt('{{report.TM08.0.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM08.0.KEY_VALUE|slice:"3:"}}')-1.0,(36-parseInt('{{report.TM08.8.KEY_VALUE}}'))+1.0-parseFloat('0.{{report.TM08.8.KEY_VALUE|slice:"3:"}}')-1.0],
          ['1st MTH',  36-parseInt('{{report.TM08.1.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM08.1.KEY_VALUE|slice:"3:"}}')-1.0,(36-parseInt('{{report.TM08.9.KEY_VALUE}}'))+1.0-parseFloat('0.{{report.TM08.9.KEY_VALUE|slice:"3:"}}')-1.0],
          ['3rd MTH',  36-parseInt('{{report.TM08.2.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM08.2.KEY_VALUE|slice:"3:"}}')-1.0,(36-parseInt('{{report.TM08.10.KEY_VALUE}}'))+1.0-parseFloat('0.{{report.TM08.10.KEY_VALUE|slice:"3:"}}')-1.0],
          ['5th MTH',  36-parseInt('{{report.TM08.3.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM08.3.KEY_VALUE|slice:"3:"}}')-1.0,(36-parseInt('{{report.TM08.11.KEY_VALUE}}'))+1.0-parseFloat('0.{{report.TM08.11.KEY_VALUE|slice:"3:"}}')-1.0],
          ['Medial Arch',  36-parseInt('{{report.TM08.4.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM08.4.KEY_VALUE|slice:"3:"}}')-1.0,(36-parseInt('{{report.TM08.12.KEY_VALUE}}'))+1.0-parseFloat('0.{{report.TM08.12.KEY_VALUE|slice:"3:"}}')-1.0],
          ['Heel',  36-parseInt('{{report.TM08.5.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM08.5.KEY_VALUE|slice:"3:"}}')-1.0,(36-parseInt('{{report.TM08.13.KEY_VALUE}}'))+1.0-parseFloat('0.{{report.TM08.13.KEY_VALUE|slice:"3:"}}')-1.0],
        ]);

        var options1 = {
          title : 'Cool',
          titleTextStyle: {
        fontSize: 14,
        fontName: 'sans-serif'
      },
          legend: { position: 'none',},
          chartArea: {'top':25,'bottom':35,'width': '86%', 'height': '60%',backgroundColor: {
        stroke: 'black',
        strokeWidth: 1
    }},
          vAxis: {title: '',direction: '1',ticks: [
        // use object notation to provide y-axis labels
        {v: 26, f: '10'},
        {v: 24, f: '12'},
        {v: 22, f: '14'},
        {v: 20, f: '16'},
        {v: 18, f: '18'},
        {v: 16, f: '20'},
        {v: 14, f: '22'},
        {v: 12, f: '24'},
        {v: 10, f: '26'},
        {v: 8, f: '28'},
        {v: 6, f: '30'},
        {v: 4, f: '32'},
        {v: 2, f: '34'},

      ],textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold : true
        },viewWindow: {
              max:2,
              min:26
            },gridlines: {
          color: 'transparent',
          count: 16,
        }},
          hAxis: {title: '',showTextEvery:1, slantedText:true,textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold : true
        }},
          lineWidth: 1, 
          lineDashStyle: [5, 1, 3],
          colors: ['#002aff','#162b98','black'],
          seriesType: 'bars',
          series: {2: {type: 'line'}},
          height:300,
          enableInteractivity: false,
        };
        {% for key,value in report.report_result.items %}
      {% if key == "TM-07" %}
          {% for k, v in value.items %}
              {% if k == "right_foot_result" %}
                 var right_warm_foot_result = parseFloat('{{v.0}}');
                 $("#right_warm_avg").html('{{v.0}}');
                  {% if v.0 == "No Data" %}
                 $("#right_warm_avg").next().hide();
                 {% endif %}
                 {% if v.1 == "Normal" %}
                    $("#right_warm_status").html('<span class="color_green">{{v.1}}</span>');
                 {% else %}
                    $("#right_warm_status").html('<span class="color_red">{{v.1}}</span>');
                 {% endif %}
              {% endif %}
              {% if k == "left_foot_result" %}
                 var left_warm_foot_result = parseFloat('{{v.0}}');
                 $("#left_warm_avg").html('{{v.0}}');
                 {% if v.0 == "No Data" %}
                 $("#left_warm_avg").next().hide();
                 {% endif %}
                 {% if v.1 == "Normal" %}
                    $("#left_warm_status").html('<span class="color_green">{{v.1}}</span>');
                 {% else %}
                    $("#left_warm_status").html('<span class="color_red">{{v.1}}</span>');
                 {% endif %}
             {% endif %}
           {% endfor %}
      {% endif %}
      {% if key == "TM-08" %}
          {% for k, v in value.items %}
              {% if k == "right_foot_result" %}
                 var right_cool_foot_result = parseFloat('{{v.0}}');
                 $("#right_cool_avg").html('{{v.0}}');
                  {% if v.0 == "No Data" %}
                 $("#right_cool_avg").next().hide();
                 {% endif %}
                 {% if v.1 == "Normal" %}
                    $("#right_cool_status").html('<span class="color_green">{{v.1}}</span>');
                 {% else %}
                    $("#right_cool_status").html('<span class="color_red">{{v.1}}</span>');
                 {% endif %}
              {% endif %}
              {% if k == "left_foot_result" %}
                 var left_cool_foot_result = parseFloat('{{v.0}}');
                 $("#left_cool_avg").html('{{v.0}}');
                  {% if v.0 == "No Data" %}
                 $("#left_cool_avg").next().hide();
                 {% endif %}
                 {% if v.1 == "Normal" %}
                    $("#left_cool_status").html('<span class="color_green">{{v.1}}</span>');
                 {% else %}
                    $("#left_cool_status").html('<span class="color_red">{{v.1}}</span>');
                 {% endif %}
              {% endif %}
           {% endfor %}
      {% endif %}
    {% endfor %}


        var data2 = google.visualization.arrayToDataTable([
          ['Foot', 'R',{ role: 'style' }, 'L',{ role: 'style' }],
          ['Warm',  right_warm_foot_result,'#9e0d0d',left_warm_foot_result,'#711515'],
          ['Cool',  right_cool_foot_result,'#002aff',left_cool_foot_result,'#162b98']
        ]);

        var options2 = {
          title : 'Result Average',
          titleTextStyle: {
        fontSize: 14,
        fontName: 'sans-serif'
      },
          legend: { position: 'none',},
          chartArea: {'top':25,'bottom':35,'width': '86%', 'height': '60%',backgroundColor: {
        stroke: 'black',
        strokeWidth: 1
    }},
          vAxis: {title: '',textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold : true
        },viewWindow: {
              max:52,
              min:0
            },gridlines: {
          color: 'transparent',
          count: 11,
        }},
          hAxis: {title: '',showTextEvery:1, slantedText:true,textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold : true
        }},
        bar: { groupWidth: '20%' },
          seriesType: 'bars',
          series: {2: {type: 'line'}},
           height:300,
             enableInteractivity: false,

        };
        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        var chart1 = new google.visualization.ComboChart(document.getElementById('chart_div1'));
        chart1.draw(data1, options1);
        var chart2 = new google.visualization.ComboChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);
      }
    </script>
    {% endif %}
{% endblock %}
<div class="brclr_row_black   mr26 ml26">
{% if not mode %}
        <div class="w95p m_auto mt8">
          <div class="w48p d-inline_block">
            <div  class="text_center f-15  color_brown ft_tm">Warm Perception Study</div>
            <div class="mt16 pr ft_tm"><img src="{{MEDIA_URL}}img/png/hot_foot.png" class="report_img_overal_width_foot_warm">
              <span class="pa {{report.TM07.0.KEY_VALUE|font_size}}" style="left: 115px;top: 17px;text-align: center;width: 31px;">{{report.TM07.0.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.1.KEY_VALUE|font_size}}" style="top: 66px;left: 103px;text-align: center;width: 31px;">{{report.TM07.1.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.3.KEY_VALUE|font_size}}" style="left: 25px;top: 99px;text-align: center;width: 31px;">{{report.TM07.3.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.2.KEY_VALUE|font_size}}" style="top: 64px;left: 56px;text-align: center;width: 31px;">{{report.TM07.2.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.4.KEY_VALUE|font_size}}" style="top: 153px;left: 83px;text-align: center;width: 31px;">{{report.TM07.4.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.5.KEY_VALUE|font_size}}" style="bottom: 24px;left: 78px;text-align: center;width: 31px;">{{report.TM07.5.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.8.KEY_VALUE|font_size}}" style="top: 16px;right: 128px;text-align: center;width: 31px;">{{report.TM07.8.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.9.KEY_VALUE|font_size}}" style="right: 116px;top: 66px;text-align: center;width: 31px;">{{report.TM07.9.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.11.KEY_VALUE|font_size}}" style="top: 98px;right: 39px;text-align: center;width: 31px;">{{report.TM07.11.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.10.KEY_VALUE|font_size}}" style="top: 64px;right: 70px;text-align: center;width: 31px;">{{report.TM07.10.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.12.KEY_VALUE|font_size}}" style="top: 153px;right: 96px;text-align: center;width: 31px;">{{report.TM07.12.KEY_VALUE}}</span>
            <span class="pa {{report.TM07.13.KEY_VALUE|font_size}}" style="right: 92px;bottom: 24px;text-align: center;width: 31px;">{{report.TM07.13.KEY_VALUE}}</span>
            <span class="ft_tm pa" style="left: 72px;top: 110px;">RIGHT</span>
            <span class="ft_tm pa" style="top: 109px;right: 84px;">LEFT</span>
          </div>
          </div>
          <div class="w48p d-inline_block f-r">
            <div  class="text_center f-15  color_dark_blue ft_tm">Cool Perception Study</div>
            <div class="mt16 pr ft_tm"><img src="{{MEDIA_URL}}img/png/cool.png" class="report_img_overal_width_foot_warm">
              <span class="pa {{report.TM08.0.KEY_VALUE|font_size}}" style="left: 115px;top: 17px;text-align: center;width: 31px;">{{report.TM08.0.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.1.KEY_VALUE|font_size}}" style="top: 66px;left: 103px;text-align: center;width: 31px;">{{report.TM08.1.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.3.KEY_VALUE|font_size}}" style="left: 25px;top: 99px;text-align: center;width: 31px;">{{report.TM08.3.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.2.KEY_VALUE|font_size}}" style="top: 64px;left: 56px;text-align: center;width: 31px;">{{report.TM08.2.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.4.KEY_VALUE|font_size}}" style="top: 153px;left: 83px;text-align: center;width: 31px;">{{report.TM08.4.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.5.KEY_VALUE|font_size}}" style="bottom: 24px;left: 78px;text-align: center;width: 31px;">{{report.TM08.5.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.8.KEY_VALUE|font_size}}"  style="top: 16px;right: 129px;text-align: center;width: 31px;">{{report.TM08.8.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.9.KEY_VALUE|font_size}}" style="right: 116px;top: 66px;text-align: center;width: 31px;">{{report.TM08.9.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.10.KEY_VALUE|font_size}}" style="top: 64px;right: 70px;text-align: center;width: 31px;">{{report.TM08.10.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.11.KEY_VALUE|font_size}}" style="top: 98px;right: 40px;text-align: center;width: 31px;">{{report.TM08.11.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.12.KEY_VALUE|font_size}}" style="top: 153px;right: 97px;text-align: center;width: 31px;">{{report.TM08.12.KEY_VALUE}}</span>
            <span class="pa {{report.TM08.13.KEY_VALUE|font_size}}" style="right: 93px;bottom: 24px;text-align: center;width: 31px;">{{report.TM08.13.KEY_VALUE}}</span>
            <span class="ft_tm pa" style="left: 72px;top: 110px;">RIGHT</span>
            <span class="ft_tm pa" style="top: 109px;right: 84px;">LEFT</span>
          </div>
          </div>
        </div>
        {% else %}
        <div class="w95p m_auto mt4 ">
          <div class="w95p mt16 m_auto">
        <div>
          <table class="f-12 w100p h368 tab_report_pa ft_tm mb30" cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <th rowspan="2" class="text_center ">Test Site</th>
                  <th colspan="2" class="text_center">Right Foot HCP in Deg C</th>
                  <th colspan="2" class="text_center">Left Foot HCP in Deg C</th>
              </tr>
              <tr>
                  <td class="text_center ">Warm</td>
                  <td class="text_center ">Cool</td>
                  <td class="text_center ">Warm</td>
                  <td class="text_center">Cool</td>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td class="pl8 w100">Great Toe</td>
                <td class="text_center">{{report.TM07.0.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.0.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM07.8.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.8.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100">1st MTH</td>
                <td class="text_center">{{report.TM07.1.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.1.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM07.9.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.9.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100">3rd MTH</td>
                <td class="text_center">{{report.TM07.2.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.2.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM07.10.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.10.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100">5th MTH</td>
                <td class="text_center">{{report.TM07.3.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.3.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM07.11.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.11.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100">Medial Arch</td>
                <td class="text_center">{{report.TM07.4.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.4.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM07.12.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.12.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100">Heel</td>
                <td class="text_center">{{report.TM07.5.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.5.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM07.13.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM08.13.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100">Dorsum</td>
                <td class="text_center">{% if report.TM07.6.KEY_VALUE %} {{report.TM07.6.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM08.6.KEY_VALUE %} {{report.TM08.6.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM07.14.KEY_VALUE %} {{report.TM07.14.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM08.14.KEY_VALUE %} {{report.TM08.14.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100">Ankle</td>
                <td class="text_center">{% if report.TM07.7.KEY_VALUE %} {{report.TM07.7.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM08.7.KEY_VALUE %} {{report.TM08.7.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM07.15.KEY_VALUE %} {{report.TM07.15.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM08.15.KEY_VALUE %} {{report.TM08.15.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
      {% endif %}
      {% if report.report_result %}
        <div class="m_auto " style="width: 95%">
          <div class="chartWithOverlay w32p d-inline_block">
             <div class="average_line_warm_foot"></div> 
          <div id="chart_div" class=""></div>
                <div class="overlay_warm">
                      <div>
                        <div class="d-inline_block label " style="background-color: #9e0d0d;"></div>
                        <div class="d-inline_block f-10  ml4 ft_tm">Right Foot</div>
                      </div>
                      <div>
                        <div class="d-inline_block  label " style="background: #711515;"></div>
                        <div class="d-inline_block f-10 ml4 ft_tm">Left Foot</div>
                      </div>
                       <div>
                        <div class="d-inline_block  label " style="width: 11px;border-bottom: 2px dotted black;"></div>
                        <div class="d-inline_block f-10 ml4 ft_tm">Threshold</div>
                      </div>
                 </div>
             </div>
             <div class="chartWithOverlay1 w32p d-inline_block">
              <div class="average_line_cool_foot"></div>
          <div id="chart_div1" class=""></div>
          <div class="overlay_warm1">
                      <div>

                        <div class="d-inline_block label" style="background: #002aff"></div>
                        <div class="d-inline_block f-10  ml4 ft_tm">Right Foot</div>
                      </div>
                      <div>
                        <div class="d-inline_block  label "  style="background: #162b98"></div>
                        <div class="d-inline_block f-10 ml4 ft_tm">Left Foot</div>
                      </div>
                       <div>
                        <div class="d-inline_block  label " style="width: 11px;border-bottom: 2px dotted black;"></div>
                        <div class="d-inline_block f-10 ml4 ft_tm">Threshold</div>
                      </div>
                 </div>
        </div>
        <div class="chartWithOverlay2  w32p d-inline_block">
          <div id="chart_div2" class=""></div>
          <div class="overlay_warm2">
                      <div>
                        <div class="d-inline_block label " style="background-color: #9e0d0d;" ></div>
                        <div class="d-inline_block label" style="background: #002aff;"></div>
                        <div class="d-inline_block f-10  ml4 ft_tm">Right Foot</div>
                      </div>
                      <div>
                        <div class="d-inline_block  label " style="background: #711515;"></div>
                        <div class="d-inline_block  label " style="background: #162b98"></div>
                        <div class="d-inline_block f-10 ml4 ft_tm">Left Foot</div>
                      </div>
                 </div>
        </div>
        </div>
        {% endif %}
        <div class="f-9 text_center ft_tm f-10">
        <span>**AMP - Amputated OVR - Over Range WND - Wound TNR - Test Not Required RSC - Reason Specified in Comments</span> <span class="ml50">**All Values are in Deg C</span>
      </div>
    </div>
    <div style="font-size: 15px;margin-left: 3.5%;padding-top: 2px;font-weight: bold;font-family: 'Times_New_Roman' !important;">Interpretation</div>
       <div class="w91p margin_auto {% if mode %} pt20 pb20 {% endif %}" style="margin-top: 4px;">
      
    <div class=" d-inline_block w27p lh15 ft_tm f-14">
      <div>
        Right Foot Warm PT Average<span></span>
      </div>
      <div>
        Left Foot Warm PT Average<span></span>
      </div>
    </div>
    <div class="d-inline_block w18_5p lh15 ft_tm f-14">
          <div>
        :&nbsp;<span id="right_warm_avg"></span>
        <span>-</span>
        <span id="right_warm_status"></span>
      </div>
      <div>
        :&nbsp;<span id="left_warm_avg"></span>
        <span>-</span>
        <span id="left_warm_status"></span>
      </div>
    </div>
    <div class="d-inline_block w18_5p f-r lh15 ft_tm f-14">
          <div>
        :&nbsp;<span id="right_cool_avg"></span>
        <span>-</span>
        <span id="right_cool_status"></span>
      </div>
      <div>
        :&nbsp;<span id="left_cool_avg"></span>
        <span>-</span>
        <span id="left_cool_status"></span>
      </div>
    </div>
    <div class="w27p d-inline_block f-r lh15 ft_tm f-14">
      <div>
        Right Foot Cool PT Average<span></span>
      </div>
      <div>
        Left Foot Cool PT Average<span></span>
      </div>
    </div>
    </div>