{% load kodystags %}
{% block header_script %}
<style type="text/css">
  tbody tr:nth-child(even) {
      background-color: white!important;
  }
  tbody tr:nth-child(odd) {
      background-color: white!important;
  }
  thead tr {
    background-color: white!important;
}
</style>
<script type="text/javascript" src="{{MEDIA_URL}}gstatic/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['Hand', 'R', 'L'],
          ['DPLittlefinger',  
          parseFloat('{{report.TM11.3.KEY_VALUE}}'),
          parseFloat('{{report.TM11.10.KEY_VALUE}}')],
          ['5th MCH',  
          parseFloat('{{report.TM11.4.KEY_VALUE}}'),
          parseFloat('{{report.TM11.11.KEY_VALUE}}')],
          ['Hypothenar',  
          parseFloat('{{report.TM11.5.KEY_VALUE}}'),
          parseFloat('{{report.TM11.12.KEY_VALUE}}')],
          ['DP-Index finger',  
          parseFloat('{{report.TM11.1.KEY_VALUE}}'),
          parseFloat('{{report.TM11.8.KEY_VALUE}}')],
          ['2nd MCH',  
          parseFloat('{{report.TM11.2.KEY_VALUE}}'),
          parseFloat('{{report.TM11.7.KEY_VALUE}}')],
          ['DP-Thumb',  
          parseFloat('{{report.TM11.0.KEY_VALUE}}'),
          parseFloat('{{report.TM11.9.KEY_VALUE}}')],
          ['Dorsum Thumb',  
          parseFloat('{{report.TM11.6.KEY_VALUE}}'),
          parseFloat('{{report.TM11.13.KEY_VALUE}}')]
        ]);

        var options = {
          title : 'Warm',
          titleTextStyle: {
            fontSize: 14,
            fontName: 'sans-serif'
          },
          legend: { position: 'none',},
           colors: ['#9e0d0d','#711515'],
          chartArea: {'width': '70%', 'height': '68%', backgroundColor: {
        stroke: 'black',
        strokeWidth: 2
         }},
          vAxis: {title: '',textStyle: {
          fontSize : 8,
           fontName: 'sans-serif',
          bold:true
        },viewWindow: {
              max:52,
              min:32
            },gridlines: {
               color: 'transparent',
          count: 15,
        }},
          hAxis: {title: '',showTextEvery:1, slantedText:true,textStyle: {
          fontSize : 8,
           fontName: 'sans-serif',
          bold:true
        }},
          lineWidth: 1,
          lineDashStyle: [5, 1, 3],
          seriesType: 'bars',
          series: {2: {type: 'line'}},
          height:320,
          enableInteractivity: false,
        };
        var data1 = google.visualization.arrayToDataTable([
          ['Hand', 'R', 'L'],
          ['DPLittlefinger',  
          38-parseInt('{{report.TM12.3.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.3.KEY_VALUE|slice:"3:"}}')-1.0,
          38-parseInt('{{report.TM12.10.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.10.KEY_VALUE|slice:"3:"}}')-1.0],
          ['5th MCH',  
          38-parseInt('{{report.TM12.4.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.4.KEY_VALUE|slice:"3:"}}')-1.0,
          38-parseInt('{{report.TM12.11.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.11.KEY_VALUE|slice:"3:"}}')-1.0],
          ['Hypothenar',  
          38-parseInt('{{report.TM12.5.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.5.KEY_VALUE|slice:"3:"}}')-1.0,
          38-parseInt('{{report.TM12.12.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.12.KEY_VALUE|slice:"3:"}}')-1.0],
          ['DP-Index finger',  
          38-parseInt('{{report.TM12.1.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.1.KEY_VALUE|slice:"3:"}}')-1.0,
          38-parseInt('{{report.TM12.8.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.8.KEY_VALUE|slice:"3:"}}')-1.0],
          ['2nd MCH',  
          38-parseInt('{{report.TM12.2.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.2.KEY_VALUE|slice:"3:"}}')-1.0,
          38-parseInt('{{report.TM12.9.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.9.KEY_VALUE|slice:"3:"}}')-1.0],
          ['DP-Thumb',  
          38-parseInt('{{report.TM12.0.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.0.KEY_VALUE|slice:"3:"}}')-1.0,
          38-parseInt('{{report.TM12.7.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.7.KEY_VALUE|slice:"3:"}}')-1.0],
           ['Dorsum Thumb',  
          38-parseInt('{{report.TM12.6.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.6.KEY_VALUE|slice:"3:"}}')-1.0,
          38-parseInt('{{report.TM12.13.KEY_VALUE}}')+1.0-parseFloat('0.{{report.TM12.13.KEY_VALUE|slice:"3:"}}')-1.0]
        ]);

        var options1 = {
          title : 'Cool',
          titleTextStyle: {
            fontSize: 14,
            fontName: 'sans-serif'
          },
          legend: { position: 'none',},
          chartArea: {'width': '70%', 'height': '68%', backgroundColor: {
        stroke: 'black',
        strokeWidth: 2
         }},
          vAxis: {title: '',direction: '1',ticks: [
        // use object notation to provide y-axis labels
        {v: 28, f: '10'},
        {v: 26, f: '12'},
        {v: 24, f: '14'},
        {v: 22, f: '16'},
        {v: 20, f: '18'},
        {v: 18, f: '20'},
        {v: 16, f: '22'},
        {v: 14, f: '24'},
        {v: 12, f: '26'},
        {v: 10, f: '28'},
        {v: 8, f: '30'},
        {v: 6, f: '32'},
        {v: 4, f: '34'},

      ],textStyle: {
          fontSize : 8,
           fontName: 'sans-serif',
          bold:true
        },viewWindow: {
              max:4,
              min:28
            },gridlines: {
               color: 'transparent',
          count: 15,
        }},
          hAxis: {title: '',showTextEvery:1, slantedText:true,textStyle: {
          fontSize : 8,
           fontName: 'sans-serif',
          bold:true
        }},
          lineWidth: 1, 
          lineDashStyle: [5, 1, 3],
           colors: ['#002aff','#162b98'],
          seriesType: 'bars',
          series: {2: {type: 'line'}},
          height:320,
          enableInteractivity: false,
        };

        {% for key,value in report.report_result.items %}
      {% if key == "TM-11" %}
          {% for k, v in value.items %}
              {% if k == "right_hand_result" %}
                 var right_warm_hand_result = parseFloat('{{v.0}}');
                 $("#right_warm_avg").html('{{v.0}}');
                 // {% if v.1 == "Normal" %}
                 //    $("#right_warm_status").html('<span class="color_green">{{v.1}}</span>');
                 // {% else %}
                 //    $("#right_warm_status").html('<span class="color_red">{{v.1}}</span>');
                 // {% endif %}
              {% endif %}
              {% if k == "left_hand_result" %}
                 var left_warm_hand_result = parseFloat('{{v.0}}');
                 $("#left_warm_avg").html('{{v.0}}');
                 // {% if v.1 == "Normal" %}
                 //    $("#left_warm_status").html('<span class="color_green">{{v.1}}</span>');
                 // {% else %}
                 //    $("#left_warm_status").html('<span class="color_red">{{v.1}}</span>');
                 // {% endif %}
             {% endif %}
           {% endfor %}
      {% endif %}
      {% if key == "TM-12" %}
          {% for k, v in value.items %}
              {% if k == "right_hand_result" %}
                 var right_cool_hand_result = parseFloat('{{v.0}}');
                 $("#right_cool_avg").html('{{v.0}}');
                 // {% if v.1 == "Normal" %}
                 //    $("#right_cool_status").html('<span class="color_green">{{v.1}}</span>');
                 // {% else %}
                 //    $("#right_cool_status").html('<span class="color_red">{{v.1}}</span>');
                 // {% endif %}
              {% endif %}
              {% if k == "left_hand_result" %}
                 var left_cool_hand_result = parseFloat('{{v.0}}');
                 $("#left_cool_avg").html('{{v.0}}');
                 // {% if v.1 == "Normal" %}
                 //    $("#left_cool_status").html('<span class="color_green">{{v.1}}</span>');
                 // {% else %}
                 //    $("#left_cool_status").html('<span class="color_red">{{v.1}}</span>');
                 // {% endif %}
              {% endif %}
           {% endfor %}
      {% endif %}
    {% endfor %}
        var data2 = google.visualization.arrayToDataTable([
          ['Foot', 'R',{ role: 'style' },'L',{ role: 'style' }],
          ['Warm',  right_warm_hand_result,"#9e0d0d",left_warm_hand_result,"#711515"],
          ['Cool',  right_cool_hand_result,"#002aff",left_cool_hand_result,"#162b98"]
        ]);

        var options2 = {
          title : 'Result Average',
          titleTextStyle: {
            fontSize: 14,
            fontName: 'sans-serif'
          },
          legend: { position: 'none',},
          chartArea: {'width': '76%', 'height': '68%', backgroundColor: {
        stroke: 'black',
        strokeWidth: 2
         }},
          vAxis: {title: '',textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold:true
        },viewWindow: {
              max:55,
              min:0
            },gridlines: {
          color: 'transparent',
          count: 14,

        }},
          hAxis: {title: '',showTextEvery:1, slantedText:true,textStyle: {
          fontSize : 8,
           fontName: 'sans-serif',
          bold:true
        }},
        bar: { groupWidth: '20%' },
          seriesType: 'bars',
          series: {2: {type: 'line'}},
          height:320,
          enableInteractivity: false,
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        $("text:contains(" + options.title + ")").attr({'x':'105', 'y':'50'});
        var chart1 = new google.visualization.ComboChart(document.getElementById('chart_div1'));
        chart1.draw(data1, options1);
        $("text:contains(" + options1.title + ")").attr({'x':'105', 'y':'50'});
        var chart2 = new google.visualization.ComboChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);
        $("text:contains(" + options2.title + ")").attr({'x':'80', 'y':'50'});
      }
    </script>
{% endblock %}
<div class="brclr_row_black   mr26 ml26">
        {% if not mode %}
        <div class="w98p m_auto mt8">
          <h3 class="text_center f-15 text_underline color_brown ft_tm" style="margin-bottom: 0px">Warm Perception Study</h3>
          <div class="w49p d-inline_block warm_pre_su" style="position: relative;">

            <div  class="text_center f-15 text_underline color_brown ft_tm" style="text-decoration: underline;padding: 0;line-height: 1.2;margin: 0 auto;">RIGHT HAND</div>
            <div class="clear" style="padding-top: 10px;">
              <div class="text_center f-15 ft_tm palmar">Palmar View</div>
              <div class="text_center f-15 ft_tm dorsal">Dorsal View</div>
            </div>
            <div class="mt16 pr ft_tm"><img src="{{MEDIA_URL}}img/png/warm_hcp_right_hand_report.png" class="w100p">
              <span class="pa {{report.TM11.3.KEY_VALUE|font_size}}" style="left:11px;top: 74px;text-align: center;width: 22px;">{{report.TM11.3.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.4.KEY_VALUE|font_size}}" style="left: 30px; top: 122px;text-align: center;width: 22px;">{{report.TM11.4.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.5.KEY_VALUE|font_size}}" style="left: 53px; top: 183px;text-align: center;width: 22px;">{{report.TM11.5.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.1.KEY_VALUE|font_size}}" style="left: 106px; top: 38px;text-align: center;width: 22px;">{{report.TM11.1.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.2.KEY_VALUE|font_size}}" style="left: 96px; top: 110px;text-align: center;width: 22px;">{{report.TM11.2.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.0.KEY_VALUE|font_size}}" style="left: 138px; top: 107px;text-align: center;width: 22px;">{{report.TM11.0.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.6.KEY_VALUE|font_size}}" style="left: 194px; top: 120px;text-align: center;width: 22px;">{{report.TM11.6.KEY_VALUE}}</span>
          </div>
          </div>
          <div class="w49p d-inline_block f-r bb2 pl8">
                         <div  class="text_center f-15 color_dark_blue ft_tm" style="text-decoration: underline;padding: 0;line-height: 1.2;margin: 0 auto;">LEFT HAND</div>
            <div class="clear" style="padding-top: 10px;">
              <div class="text_center f-15 ft_tm palmar">Palmar View</div>
              <div class="text_center f-15 ft_tm dorsal">Dorsal View</div>
            </div>
            <div class="mt16 pr ft_tm"><img src="{{MEDIA_URL}}img/png/warm_hcp_left_hand_report.png" class="w100p">
            <span class="pa {{report.TM11.10.KEY_VALUE|font_size}}" style="top: 73px;right: 188px;text-align: center;width: 22px;">{{report.TM11.10.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.11.KEY_VALUE|font_size}}" style="right: 206px; top: 119px;text-align: center;width: 22px;">{{report.TM11.11.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.12.KEY_VALUE|font_size}}" style="right: 228px; top: 178px;text-align: center;width: 22px;">{{report.TM11.12.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.8.KEY_VALUE|font_size}}" style="left: 45px; top: 39px;text-align: center;width: 22px;">{{report.TM11.8.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.9.KEY_VALUE|font_size}}" style="left: 54px; top: 108px;text-align: center;width: 22px;">{{report.TM11.9.KEY_VALUE}}</span>
            <span class="pa {{report.TM11.7.KEY_VALUE|font_size}}" style="left: 13px; top: 103px;text-align: center;width: 22px;">{{report.TM11.7.KEY_VALUE}}</span>
             <span class="pa {{report.TM11.13.KEY_VALUE|font_size}}" style="right: 27px; top: 118px;text-align: center;width: 22px;">{{report.TM11.13.KEY_VALUE}}</span>
          </div>
          </div>
        </div>
        <div class="w98p m_auto  " style="border-top: 2px solid black;">
          <h3 class="text_center f-15 text_underline  ft_tm color_dark_blue" style="margin-bottom: 0px">Cool Perception Study</h3>
          <div class="w49p d-inline_block warm_pre_su" style="position: relative;">
            <div class="clear" style="padding-top: 10px;">
              <div class="text_center f-15 ft_tm palmar">Palmar View</div>
              <div class="text_center f-15 ft_tm dorsal">Dorsal View</div>
            </div>
            <div class="mt16 pr ft_tm"><img src="{{MEDIA_URL}}img/png/cool_hcp_right_hand_report.png" class="w100p">
              <span class="pa {{report.TM12.3.KEY_VALUE|font_size}}" style="left:11px;top: 75px;text-align: center;width: 22px;">{{report.TM12.3.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.4.KEY_VALUE|font_size}}" style="left: 30px;top: 123px;text-align: center;width: 22px;">{{report.TM12.4.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.5.KEY_VALUE|font_size}}" style="left: 53px;top: 183px;text-align: center;width: 22px;">{{report.TM12.5.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.1.KEY_VALUE|font_size}}" style="left: 106px;top: 40px;text-align: center;width: 22px;">{{report.TM12.1.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.2.KEY_VALUE|font_size}}" style="left: 96px;top: 111px;text-align: center;width: 22px;">{{report.TM12.2.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.0.KEY_VALUE|font_size}}"  style="left: 139px;top: 106px;text-align: center;width: 22px;">{{report.TM12.0.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.6.KEY_VALUE|font_size}}" style="left: 193px;top: 120px;text-align: center;width: 22px;">{{report.TM12.6.KEY_VALUE}}</span>
          </div>
          </div>
          <div class="w49p d-inline_block f-r bb2 pl8">
            <div class="clear" style="padding-top: 10px;">
              <div class="text_center f-15 ft_tm palmar">Palmar View</div>
              <div class="text_center f-15 ft_tm dorsal">Dorsal View</div>
            </div>
            <div class="mt16 pr ft_tm"><img src="{{MEDIA_URL}}img/png/cool_hcp_left_hand_report.png" class="w100p">
              <span class="pa {{report.TM12.10.KEY_VALUE|font_size}}" style="top: 72px;right: 186px;text-align: center;width: 22px;">{{report.TM12.10.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.11.KEY_VALUE|font_size}}" style="right: 206px;top: 119px;text-align: center;width: 22px;">{{report.TM12.11.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.12.KEY_VALUE|font_size}}" style="right: 228px; top: 177px;text-align: center;width: 22px;">{{report.TM12.12.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.8.KEY_VALUE|font_size}}" style="left: 45px; top: 38px;text-align: center;width: 22px;">{{report.TM12.8.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.9.KEY_VALUE|font_size}}" style="left: 55px; top: 108px;text-align: center;width: 22px;">{{report.TM12.9.KEY_VALUE}}</span>
            <span class="pa {{report.TM12.7.KEY_VALUE|font_size}}" style="left: 13px; top: 103px;text-align: center;width: 22px;">{{report.TM12.7.KEY_VALUE}}</span>
             <span class="pa {{report.TM12.13.KEY_VALUE|font_size}}" style="right: 26px; top: 118px;text-align: center;width: 22px;">{{report.TM12.13.KEY_VALUE}}</span>
          </div>
          </div>
        </div>
        {% else %}
        <div class="w95p m_auto mt8">
          <div class="w3-row mt20">
        <div class="pt8">
          <table class="f-12 w100p h368 ft_tm hand_all_reports" >
            <thead>
              <tr>
                <th  rowspan="2">Test Site</th>
                  <th colspan="2" class="text_center">Right Hand HCP in Deg C</th>
                  <th colspan="2" class="text_center">Left Hand HCP in Deg C</th>
              </tr>
              <tr>
                  <td class="text_center ">Warm</td>
                  <td class="text_center ">Cool</td>
                  <td class="text_center ">Warm</td>
                  <td class="text_center">Cool</td>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td class="pl8 w195">Distal Phalanx of Little finger</td>
                <td class="text_center">{{report.TM11.3.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.3.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM11.10.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.10.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w195">Head of 5th Meta Carpal</td>
                <td class="text_center">{{report.TM11.4.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.4.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM11.11.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.11.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w195">Hypothenar Eminance </td>
                <td class="text_center">{{report.TM11.5.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.5.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM11.12.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.12.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w195">Distal Phalanx of Index finger</td>
                <td class="text_center">{{report.TM11.1.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.1.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM11.8.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.8.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w195">Head of 2nd Meta Carpal</td>
                <td class="text_center">{{report.TM11.2.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.2.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM11.9.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.9.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w195">Distal Phalanx of Thumb</td>
                <td class="text_center">{{report.TM11.0.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.0.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM11.7.KEY_VALUE}}</td>
                <td class="text_center">{{report.TM12.7.KEY_VALUE}}</td>
              </tr>
              <tr class="">
                <td class="pl8 w195">Dorsum of Thumb</td>
                <td class="text_center">{% if report.TM11.6.KEY_VALUE %} {{report.TM11.6.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM12.6.KEY_VALUE %} {{report.TM12.6.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM11.13.KEY_VALUE %} {{report.TM11.13.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM12.13.KEY_VALUE %} {{report.TM12.13.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
        </div>
     {% if report.report_result %}
  <div class=" m_auto mt8" style="width: 95%">

          <div  class="chartWithOverlay w32p d-inline_block">
          <div id="chart_div" class=""></div>
            <div class="overlay lh13 overlay_hand_all">
                      <div>
                        <div class="d-inline_block label ml4"  style="background-color: #9e0d0d"></div>
                        <div class="d-inline_block f-10  ml4">Right Hand</div>
                      </div>
                      <div>
                    
                        <div class="d-inline_block label ml4"  style="background-color: #711515"></div>
                        <div class="d-inline_block f-10 ml4">Left Hand</div>
                      </div>
                 </div>
                </div>
                  <div  class="chartWithOverlay1 w32p d-inline_block">
          <div id="chart_div1" class=""></div>
            <div class="overlay1 lh13 overlay_hand_all">
                      <div>
                        <div class="d-inline_block label ml4" style="background-color: #002aff"></div>
                        <div class="d-inline_block f-10  ml4">Right Hand</div>
                      </div>
                      <div>
                        <div class="d-inline_block label  ml4" style="background-color: #162b98"></div>
                        <div class="d-inline_block f-10 ml4">Left Hand</div>
                      </div>
                 </div>
                </div>
                  <div  class="chartWithOverlay2 w32p d-inline_block">
          <div id="chart_div2" class=""></div>
            <div class="overlay2 lh13 overlay_hand_all">
                      <div>
                        <div class="d-inline_block label " style="background-color: #9e0d0d"></div>
                        <div class="d-inline_block label " style="background-color: #002aff"></div>
                        <div class="d-inline_block f-10  ml4">Right Hand</div>
                      </div>
                      <div>
                        <div class="d-inline_block label " style="background-color: #711515"></div>
                        <div class="d-inline_block  label " style="background-color: #162b98"></div>
                        <div class="d-inline_block f-10 ml4">Left Hand</div>
                      </div>
                 </div>
                </div>
          <!-- <div id="chart_div1" class="w33p d-inline_block"></div>
          <div id="chart_div2" class="w33p d-inline_block"></div> -->
        </div>
        {% endif %}
        {% endif %}
         <div class="f-9 text_center ft_tm f-10">
        <span>**AMP-Amputated&nbsp; OVR-Over Range&nbsp; WND-Wound&nbsp; TNR-Test Not Required&nbsp; RSC-Reason Specified in Comments</span> <span class="ml12">**All Values are in Deg C</span> {% if  mode %}<span class="ml12">**DP-Distal phalanx  MCH-Metacarpal Head </span>{% endif %}
      </div>
      </div>
       <div style="margin-left: 3.5%"><span style="font-size:15px;font-weight: bold;font-family: 'Times_New_Roman' !important;">Test Results</span></div>
       <div class="w91p margin_auto mt8 pb12 ft_tm f-14">
    <div class=" d-inline_block w27p lh13">
      <div>
        Right Hand Warm  PT Average<span></span>
      </div>
      <div>
        Left Hand Warm  PT Average<span></span>
      </div>
    </div>
    <div class="d-inline_block w17_5p lh13">
          <div>
        :&nbsp;<span id="right_warm_avg"></span>
       <!--  <span>-</span>
        <span id="right_warm_status"></span> -->
      </div>
      <div>
        :&nbsp;<span id="left_warm_avg"></span>
       <!--  <span>-</span>
        <span id="left_warm_status"></span> -->
      </div>
    </div>
    <div class="d-inline_block w17_5p f-r lh13">
          <div>
        :&nbsp;<span id="right_cool_avg"></span>
     <!--    <span>-</span>
        <span id="right_cool_status"></span> -->
      </div>
      <div>
        :&nbsp;<span id="left_cool_avg"></span>
       <!--  <span>-</span>
        <span id="left_cool_status"></span> -->
      </div>
    </div>
    <div class="w27p d-inline_block f-r lh13">
      <div>
        Right Hand Cool PT Average<span></span>
      </div>
      <div>
        Left Hand Cool PT Average<span></span>
      </div>
    </div>
    </div>