<div class="w3-bar bgclr1 ff-r w3-display-container">
            <a href="{% url 'about' %}" class="w3-bar-item ft-b f-14 tdecor fclr">About</a>
            <a href="{% url 'customer_support' %}" class="w3-bar-item ft-b f-14 tdecor fclr">Customer Support</a>
           
            <div class="w3-right">
            	<a href="{% url 'signin' %}" class="w3-bar-item br-l fclr tdecor ft-b f-14">Sign in</a>
            		 
            	
           </div>
		</div>

		<div class="w3-display-container h84 w100p bgclr2" style="height: 60px;">
			
			<div class="w3-display-left h84 w39 bgclr12" style="height: 60px;"></div>
			<div class="w3-display-left ml232 lh12 ff-r">
			</div>

			<div class="w3-display-right pr15">
				<img src="{{COMMON_INFO.KODYS_LOGO|safe}}"  alt="brand_image" style="width: 150px;">
			</div>
		</div>