{% load kodystags %}
{% block header_script %}
<style type="text/css">
  tbody tr:nth-child(even) {
      background-color: white!important;
  }
  tbody tr:nth-child(odd) {
      background-color: white!important;
  }
  thead tr {
    background-color: white!important;
}
</style>
<script type="text/javascript" src="{{MEDIA_URL}}gstatic/loader.js"></script>
    <script type="text/javascript">
       $("document").ready(function(){
       $(".bmi_se").hide();
    });
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['Hand', 'R'],
          ['DPLittlefinger',  
          parseFloat('{{report.TM04.3.KEY_VALUE}}')],
          ['5th MCH',  
          parseFloat('{{report.TM04.4.KEY_VALUE}}')],
          ['Hypothenar',  
          parseFloat('{{report.TM04.5.KEY_VALUE}}')],
          ['DP-Index finger',  
          parseFloat('{{report.TM04.1.KEY_VALUE}}')],
          ['2nd MCH',  
          parseFloat('{{report.TM04.2.KEY_VALUE}}')],
          ['DP-Thumb',  
          parseFloat('{{report.TM04.0.KEY_VALUE}}')],
          ['Dorsum thumb',  
          parseFloat('{{report.TM04.6.KEY_VALUE}}')]
        ]);

        var options = {
          title : 'Right Hand',
          titleTextStyle: {
            fontSize: 14,
            fontName: 'sans-serif'
          },
          legend: { position: 'none',},
          chartArea: {'width': '70%', 'height': '68%', backgroundColor: {
        stroke: 'black',
        strokeWidth: 2
         }},
          vAxis: {title: '',textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold:true
        },viewWindow: {
              max:55,
              min:0
            },gridlines: {
          color: 'transparent',
          count: 15,
        }},
          hAxis: {title: '',showTextEvery:1, slantedText:true,textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold:true
        }},
          lineWidth: 1,
          lineDashStyle: [5, 1, 3],
          seriesType: 'bars',
          series: {1: {type: 'line'}},
          height:320,
          enableInteractivity: false,

        };
        var data1 = google.visualization.arrayToDataTable([
          ['Hand', 'L'],
          ['DPLittlefinger',  
          parseFloat('{{report.TM04.10.KEY_VALUE}}')],
          ['5th MCH',  
          parseFloat('{{report.TM04.11.KEY_VALUE}}')],
          ['Hypothenar',  
          parseFloat('{{report.TM04.12.KEY_VALUE}}')],
          ['DP-Index finger',  
          parseFloat('{{report.TM04.8.KEY_VALUE}}')],
          ['2nd MCH',  
          parseFloat('{{report.TM04.9.KEY_VALUE}}')],
          ['DP-Thumb',  
          parseFloat('{{report.TM04.7.KEY_VALUE}}')],
           ['Dorsum Thumb',  
          parseFloat('{{report.TM04.13.KEY_VALUE}}')]
        ]);

        var options1 = {
          title : 'Left Hand',
          titleTextStyle: {
        fontSize: 14,
        fontName: 'sans-serif'
      },
          legend: { position: 'none',},
          chartArea: {'width': '70%', 'height': '68%', backgroundColor: {
        stroke: 'black',
        strokeWidth: 2
         }},
          vAxis: {title: '',textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold:true
        },viewWindow: {
              max:55,
              min:0
            },gridlines: {
          color: 'transparent',
          count: 15,
        }},
          hAxis: {title: '',showTextEvery:1, slantedText:true,textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold:true
        }},
          lineWidth: 1, 
          lineDashStyle: [5, 1, 3],
          colors: ['#77b300','yellow'],
          seriesType: 'bars',
          series: {1: {type: 'line'}},
          height:320,
          enableInteractivity: false,
        };

          {% for key,value in report.report_result.items %}
                  {% if key == "right_hand_result" %}
                     var right_hand_result = parseFloat('{{value.0}}');
                     $("#right_vpt_avg").html('{{value.0}}');
                      {% if value.0 == "No Data" %}
                   $("#right_vpt_avg").next().hide();
                   {% endif %}
                    {% if value.1 == "Normal" %}
                    $("#right_vpt_status").html('<span class="normal">{{value.1}}</span>');
                    {% elif value.1 == "Severe" %}
                    $("#right_vpt_status").html('<span class="severe">{{value.1}}</span>');
                     {% elif value.1 == "Mild" %}
                    $("#right_vpt_status").html('<span class="Mild">{{value.1}}</span>');
                     {% elif value.1 == "Moderate" %}
                    $("#right_vpt_status").html('<span class="Moderate">{{value.1}}</span>');
                 {% else %}
                    $("#right_vpt_status").html('<span class="Risk">{{value.1}}</span>');
                 {% endif %}
                  {% endif %}
                  {% if key == "left_hand_result" %}
                     var left_hand_result = parseFloat('{{value.0}}');
                     $("#left_vpt_avg").html('{{value.0}}');
                    {% if value.0 == "No Data" %}
                   $("#left_vpt_avg").next().hide();
                   {% endif %}
                   {% if value.1 == "Normal" %}
                    $("#left_vpt_status").html('<span class="normal">{{value.1}}</span>');
                    {% elif value.1 == "Severe" %}
                    $("#left_vpt_status").html('<span class="severe">{{value.1}}</span>');
                     {% elif value.1 == "Mild" %}
                    $("#left_vpt_status").html('<span class="Mild">{{value.1}}</span>');
                     {% elif value.1 == "Moderate" %}
                    $("#left_vpt_status").html('<span class="Moderate">{{value.1}}</span>');
                 {% else %}
                    $("#left_vpt_status").html('<span class="Risk">{{value.1}}</span>');
                 {% endif %}
                  {% endif %}
                  {% if key == "bmi_result" %}
                   $(".bmi_se").show();
                     var bmi_result = parseFloat('{{value.0}}');
                     $("#bmi_vpt_avg").html('{{value.0}}');
                      {% if value.0 == "No Data" %}
                     $("#bmi_vpt_avg").next().hide();
                     {% endif %}
                      {% if value.1 == "Normal" %}
                    $("#bmi_vpt_status").html('<span class="color_green">{{value.1}}</span>');
                    {% elif value.1 == "Over Weight" %}
                    $("#bmi_vpt_status").html('<span class="Overweight">{{value.1}}</span>');
                    {% elif value.1 == "Obese" %}
                    $("#bmi_vpt_status").html('<span class="Obese">{{value.1}}</span>');
                    {% elif value.1 == "Under Weight" %}
                    $("#bmi_vpt_status").html('<span class="Underweight">{{value.1}}</span>');
                 {% else %}
                    $("#bmi_vpt_status").html('<span class="color_red">{{value.1}}</span>');
                 {% endif %}
                  {% endif %}
                   

    {% endfor %}
        var data2 = google.visualization.arrayToDataTable([
          ['Right Hand','Left Hand',{ role: 'style' }],
          ['Right Hand',  right_hand_result , "#3366cc"],
          ['Left Hand',  left_hand_result, "#77b300"]
        ]);

        var options2 = {
          title : 'Result Average',
          titleTextStyle: {
        fontSize: 14,
        fontName: 'sans-serif'
      },
          legend: { position: 'none',},
          chartArea: {'width': '76%', 'height': '68%', backgroundColor: {
        stroke: 'black',
        strokeWidth: 2
         }},
          vAxis: {title: '',textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold:true
        },viewWindow: {
              max:55,
              min:0
            },gridlines: {
          color: 'transparent',
          count: 14,
        }},
          hAxis: {title: '',showTextEvery:1, slantedText:true,textStyle: {
          fontSize : 8,
          fontName: 'sans-serif',
          bold:true
        }},
        bar: { groupWidth: '20%' },
          seriesType: 'bars',
          series: {2: {type: 'line'}},
          height:320,
          enableInteractivity: false,
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        var chart1 = new google.visualization.ComboChart(document.getElementById('chart_div1'));
        chart1.draw(data1, options1);
        var chart2 = new google.visualization.ComboChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);
      }
    </script>
{% endblock %}
<div class="brclr_row_black   mr26 ml26">
       {% if not mode %}
        <div class="w98p m_auto mt8">
          <div class="w49p d-inline_block">
            <div  class="text_center f-15 text_underline color_brown ft_tm mb16">RIGHT HAND</div>
            <div class="clear">
              <div class="text_center f-15 ft_tm palmar">Palmar View</div>
              <div class="text_center f-15 ft_tm dorsal">Dorsal View</div>
            </div>
            <div class="mt16 pr ft_tm"><img src="{{MEDIA_URL}}img/png/warm_hcp_right_hand_report.png" class="w100p">
            <span class="pa {{report.TM04.3.KEY_VALUE|font_size}}" style="left:12px;top: 92px;text-align: center;width: 22px;">{{report.TM04.3.KEY_VALUE}}</span>
            <span class="pa ft_tm f-12" style="left:19px;top: 112px; color:{{report.TM04.21.KEY_VALUE|color}}; ">{{report.TM04.21.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.4.KEY_VALUE|font_size}}" style="left: 30px; top: 139px;text-align: center;width: 22px;">{{report.TM04.4.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12"  style="left: 37px; top: 159px; color:{{report.TM04.22.KEY_VALUE|color}}; ">{{report.TM04.22.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.5.KEY_VALUE|font_size}}" style="left: 53px; top: 199px;text-align: center;width: 22px;">{{report.TM04.5.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12"  style="left: 61px; top: 219px; color:{{report.TM04.23.KEY_VALUE|color}}; ">{{report.TM04.23.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.1.KEY_VALUE|font_size}}" style="left: 105px; top: 56px;text-align: center;width: 22px;">{{report.TM04.1.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12" style="left: 111px; top: 76px; color: {{report.TM04.19.KEY_VALUE|color}};">{{report.TM04.19.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.2.KEY_VALUE|font_size}}" style="left: 96px; top: 127px;text-align: center;width: 22px;">{{report.TM04.2.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12" style="left: 102px; top: 147px; color: {{report.TM04.20.KEY_VALUE|color}};">{{report.TM04.20.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.0.KEY_VALUE|font_size}}" style="left: 140px; top: 122px;text-align: center;width: 22px;">{{report.TM04.0.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12" style="left: 146px; top: 143px; color: {{report.TM04.18.KEY_VALUE|color}};">{{report.TM04.18.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.6.KEY_VALUE|font_size}}" style="left: 193px; top: 137px;text-align: center;width: 22px;">{{report.TM04.6.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12" style="left: 201px; top: 157px; color: {{report.TM04.24.KEY_VALUE|color}};">{{report.TM04.24.KEY_VALUE}}</span>

          </div>
          </div>
          <div class="w49p d-inline_block f-r bb2 pl8">
            <div  class="text_center f-15 text_underline color_dark_blue ft_tm mb16">LEFT HAND</div>
            <div class="clear">
              <div class="text_center f-15 ft_tm palmar">Palmar View</div>
              <div class="text_center f-15 ft_tm dorsal">Dorsal View</div>
            </div>
            <div class="mt16 pr ft_tm"><img src="{{MEDIA_URL}}img/png/warm_hcp_left_hand_report.png" class="w100p">
              <span class="pa {{report.TM04.10.KEY_VALUE|font_size}}" style="top: 89px;left: 136px;text-align: center;width: 22px;">{{report.TM04.10.KEY_VALUE}}</span>
               <span class="pa ft_tm f-12" style="top: 110px;left: 145px;color: {{report.TM04.28.KEY_VALUE|color}};">{{report.TM04.28.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.11.KEY_VALUE|font_size}}" style="left: 118px; top: 135px;text-align: center;width: 22px;">{{report.TM04.11.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12" style="left: 125px; top: 154px;color: {{report.TM04.29.KEY_VALUE|color}};">{{report.TM04.29.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.12.KEY_VALUE|font_size}}" style="left: 96px; top: 194px;text-align: center;width: 22px;">{{report.TM04.12.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12" style="left: 99px;top: 215px;color: {{report.TM04.30.KEY_VALUE|color}};">{{report.TM04.30.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.8.KEY_VALUE|font_size}}" style="left: 45px; top: 55px;text-align: center;width: 22px;">{{report.TM04.8.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12" style="left: 53px; top: 75px;color: {{report.TM04.26.KEY_VALUE|color}};">{{report.TM04.26.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.9.KEY_VALUE|font_size}}" style="left: 55px; top: 124px;text-align: center;width: 22px;">{{report.TM04.9.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12" style="left: 62px; top: 143px;color: {{report.TM04.27.KEY_VALUE|color}};">{{report.TM04.27.KEY_VALUE}}</span>
            <span class="pa {{report.TM04.7.KEY_VALUE|font_size}}" style="left: 13px; top: 119px;text-align: center;width: 22px;">{{report.TM04.7.KEY_VALUE}}</span>
             <span class="pa ft_tm f-12" style="left: 19px; top: 138px;color: {{report.TM04.25.KEY_VALUE|color}};">{{report.TM04.25.KEY_VALUE}}</span>
             <span class="pa {{report.TM04.13.KEY_VALUE|font_size}}" style="right: 26px; top: 134px;text-align: center;width: 22px;">{{report.TM04.13.KEY_VALUE}}</span>
              <span class="pa ft_tm f-12" style="right: 32px; top: 153px;color: {{report.TM04.31.KEY_VALUE|color}};">{{report.TM04.31.KEY_VALUE}}</span>
          </div>
          </div>
        </div>
     {% else %}
        <div class="w95p m_auto mt4 ">
          <div class="w95p mt16 m_auto" style="height: 315px;">
        <div>
          <table class="f-12 w100p h368 tab_report_pa ft_tm mb30" cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <th rowspan="2" class="text_center " colspan="4" style="width: 225px;">Test Site</th>
                  <th colspan="2" class="text_center">Right Hand</th>
                  <th colspan="2" class="text_center">Left Hand</th>
              </tr>
              <tr>
                  <td class="text_center ">VPT in Volts</td>
                  <td class="text_center ">Monofilament Response</td>
                  <td class="text_center ">VPT in Volts</td>
                  <td class="text_center">Monofilament Response</td>
              </tr>
            </thead>

            <tbody>
              <tr class="">
                <td class="pl8 w100" colspan="4">Distal Phalanx of Little finger</td>
                <td class="text_center">{{report.TM04.3.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.21.KEY_VALUE %} {{report.TM04.21.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{{report.TM04.10.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.28.KEY_VALUE %} {{report.TM04.28.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100" colspan="4">Head of 5th Meta Carpal</td>
                <td class="text_center">{{report.TM04.4.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.22.KEY_VALUE %} {{report.TM04.22.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{{report.TM04.11.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.29.KEY_VALUE %} {{report.TM04.29.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100" colspan="4">Hypothenar Eminance</td>
                <td class="text_center">{{report.TM04.5.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.23.KEY_VALUE %} {{report.TM04.23.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{{report.TM04.12.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.30.KEY_VALUE %} {{report.TM04.30.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100" colspan="4">Distal Phalanx of Index finger</td>
                <td class="text_center">{{report.TM04.1.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.19.KEY_VALUE %} {{report.TM04.19.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{{report.TM04.8.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.26.KEY_VALUE %} {{report.TM04.26.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100" colspan="4">Head of 2nd Meta Carpal</td>
                <td class="text_center">{{report.TM04.2.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.20.KEY_VALUE %} {{report.TM04.20.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{{report.TM04.9.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.27.KEY_VALUE %} {{report.TM04.27.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100" colspan="4">Distal Phalanx of Thumb</td>
                <td class="text_center">{{report.TM04.0.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.18.KEY_VALUE %} {{report.TM04.18.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{{report.TM04.7.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.25.KEY_VALUE %} {{report.TM04.25.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
              <tr class="">
                <td class="pl8 w100" colspan="4">Dorsum of the Thumb</td>
                <td class="text_center">{% if report.TM04.6.KEY_VALUE %} {{report.TM04.6.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM04.24.KEY_VALUE %} {{report.TM04.24.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM04.13.KEY_VALUE %} {{report.TM04.13.KEY_VALUE}}{% else %} - {% endif %}</td>
                <td class="text_center">{% if report.TM04.31.KEY_VALUE %} {{report.TM04.31.KEY_VALUE}}{% else %} - {% endif %}</td>
              </tr>
              {% if report.TM04.14.KEY_NAME or report.TM04.14.KEY_VALUE or report.TM04.16.KEY_VALUE %}  
               <tr>
                <td class="pl8 w100" colspan="4">{{report.TM04.14.KEY_NAME}}</td>
                <td class="text_center">{{report.TM04.14.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.32.KEY_VALUE %}{{report.TM04.32.KEY_VALUE}} {% else %} - {% endif %}</td>
                <td class="text_center">{{report.TM04.16.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.34.KEY_VALUE %}{{report.TM04.34.KEY_VALUE}} {% else %} - {% endif %}</td>
              </tr>
              {% endif %}
              {% if report.TM04.15.KEY_NAME or report.TM04.15.KEY_VALUE or report.TM04.17.KEY_VALUE %}  
              <tr>
                <td class="pl8 w100" colspan="4">{{report.TM04.15.KEY_NAME}}</td>
                <td class="text_center">{{report.TM04.15.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.33.KEY_VALUE %}{{report.TM04.33.KEY_VALUE}} {% else %} - {% endif %}</td>
                <td class="text_center">{{report.TM04.17.KEY_VALUE}}</td>
                <td class="text_center">{% if report.TM04.35.KEY_VALUE %}{{report.TM04.35.KEY_VALUE}} {% else %} - {% endif %}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
      {% endif %}
         {% if report.report_result %}
        <div class="m_auto" style="width: 95%">
          <div class="chartWithOverlay w32p d-inline_block">
          <div id="chart_div" class=""></div>
                <div class="overlay_warm hand_warm_overlay">
                      <div>
                        <div class="d-inline_block label" style="background-color: #3366cc;"></div>
                        <div class="d-inline_block f-10  ml4 ft_tm">Right Hand</div>
                      </div>
                 </div>
             </div>
             <div class="chartWithOverlay1 w32p d-inline_block">
          <div id="chart_div1" class=""></div>
          <div class="overlay_warm1 hand_warm_overlay">
                      <div>
                        <div class="d-inline_block label" style="background-color: #77b300;"></div>
                        <div class="d-inline_block f-10  ml4 ft_tm">Left Hand</div>
                      </div>
                 </div>
        </div>
        <div class="chartWithOverlay2  w32p d-inline_block">
          <div id="chart_div2" class=""></div>
          <div class="overlay_warm2 hand_warm_overlay">
                      <div>
                        <div class="d-inline_block label" style="background-color: #3366cc;"></div>
                        <div class="d-inline_block f-10  ml4 ft_tm">Right Hand</div>
                      </div>
                      <div>
                        <div class="d-inline_block  label" style="background-color: #77b300;"></div>
                        <div class="d-inline_block f-10 ml4 ft_tm">Left Hand</div>
                      </div>
                 </div>
        </div>
        </div>
        {% endif %}
        <div class="f-9 text_center">
        <span>**AMP - Amputated OVR - Over Range WND - Wound TNR - Test Not Required RSC - Reason Specified in Comments</span> <span class="ml4">**All Values are in Volts</span><span class="ml4">*Monofilament Response <span style="color: green;">Y</span>-Yes <span style="color: red;">N</span>-No</span>
      </div>
      </div>
      <div style="margin-left: 3.5%"><span style="font-size:15px;font-weight: bold;font-family: 'Times_New_Roman' !important;">Test Results</span></div>
      <div class="w91p margin_auto">
    <div class=" d-inline_block w27p lh15 ft_tm f-14">
      <div>
        Right Hand VPT Average<span></span>
      </div>
          <!-- <div class="right_abi">
       Right ABI <span></span>
      </div> -->
         <div class="bmi_avg bmi_se">
        BMI  <span></span>
      </div>
    </div>
    <div class="d-inline_block w18_5p lh15 ft_tm f-14">
          <div>
        :&nbsp;<span id="right_vpt_avg"></span>
        <!-- <span>-</span>
        <span id="right_vpt_status"></span> -->
      </div>
         <div class="bmi_se">
        :&nbsp;<span id="bmi_vpt_avg"></span>
        <span>-</span>
        <span id="bmi_vpt_status"></span>
      </div>
    </div>
    <div class="d-inline_block w18_5p f-r lh15 ft_tm f-14">
     
        <div>
        :&nbsp;<span id="left_vpt_avg"></span>
        <!-- <span>-</span>
        <span id="left_vpt_status"></span> -->
      </div>
    </div>
    <div class="w27p d-inline_block f-r lh15 ft_tm f-14">
        <div>
        Left Hand VPT Average<span></span>
      </div>
    </div>
    </div>