<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kodys</title>

<link href="{{MEDIA_URL}}css/kodys1.css" rel="stylesheet">
<link href='{{MEDIA_URL}}css/roboto.css' rel='stylesheet'>
<link href="{{MEDIA_URL}}css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{MEDIA_URL}}css/w3.css">
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui-themes-1.11.4/themes/smoothness/jquery-ui.min.css">
<link rel="stylesheet" href="{{MEDIA_URL}}css/daterangepicker/daterangepicker.min.css">
<link rel="stylesheet" href="{{MEDIA_URL}}DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css">
<link href="{{MEDIA_URL}}fontselect-jquery-plugin-master/styles/fontselect-default.css" rel="stylesheet">
<link href="{{MEDIA_URL}}Color-Picker-bcPicker/resources/css/bcPicker.css" rel="stylesheet">
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/moment.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/daterangepicker-master/daterangepicker.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script src="{{MEDIA_URL}}fontselect-jquery-plugin-master/jquery.fontselect.js" type="text/javascript"></script>
<script type="text/javascript" src="{{MEDIA_URL}}Color-Picker-bcPicker/resources/js/bcPicker.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.multifile.js"></script>
<!-- for datatable-->
<script src="{{MEDIA_URL}}DataTables/datatables.net-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}DataTables/datatables.net-buttons/js/jszip.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}DataTables/datatables.net-buttons/js/buttons.html5.min.js" type="text/javascript"></script>
</head>
<style>
	html, body {
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		height: 100% !important;
		overflow: auto !important;
	}
	.w100 { width: 100% !important; }
	.h100 { height: 100% !important; }
</style>
<body ondragstart="return false" ondrop="return false;">
	<div class="w100 h100 bgclr3" style="min-height: 100vh; display: flex; flex-direction: column;">
	{% block header %}{% include 'includes/header.html' %}{% endblock %}
	<div style="flex: 1; position: relative;">
		{% block content_body %}{% endblock %}
	</div>
	{% block js_script %}{% endblock %}
	</div>
</body>
</html>