<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kodys_signin_customersupport</title>
  <link href="/app_assets/media/css/kodys1.css" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /*loop through a collection of all HTML elements:*/
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /*make an HTTP request using the attribute value as the file name:*/
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /*remove the attribute, and call this function once more:*/
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }      
      xhttp.open("GET", file, true);
      xhttp.send();
      /*exit the function:*/
      return;
    }
  }
};
</script>
  

</head>
<body>
  <div class="w3-display-container w1280 h800 w3-display-middle" >

    <div w3-include-html="header.html"></div>
      <script>
        includeHTML();
      </script>
    <div class="w3-display-container bgclr3">
      <div class="w3-center ft-b ff-r fclr1 f-16  pt9 pb5 brclr1">
        Customer Support
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col w729  h638 bgclr3">
        <div class="w3-row pb24 brclr1">
            <div class="w3-row mt24 ml-40">
          <div class="w3-col l4">
            <p class="f-16 fclr5 ft-b">Technical Support</p> 
            <div class="w3-row">
              <div class="w3-row fclr1 f-14 ft-b">R&D Engineer</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-envelope mr8" aria-hidden="true"></i>rakesh@kodys.com</div>
            </div>
          </div>
          <div class="w3-col l4">
            <p class="f-16 fclr5 ft-b">Technical Support</p> 
            <div class="w3-row">
              <div class="w3-row fclr1 f-14 ft-b">Senior Service Engineer</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-envelope mr8" aria-hidden="true"></i>rakesh@kodys.com</div>
            </div>
          </div>
          <div class="w3-col l4">
            <p class="f-16 fclr5 ft-b">Marketing Support</p> 
            <div class="w3-row">
              <div class="w3-row fclr1 f-14 ft-b">General Manager</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-envelope mr8" aria-hidden="true"></i>rakesh@kodys.com</div>
            </div>
          </div>
        </div>
        </div>
        <div class="w3-row pb24 brclr1">
          <div class="w3-row mt8 ml-40">
             <div class="w3-col l4">
            <p class="f-16 fclr5 ft-b">Technical Support</p> 
            <div class="w3-row">
              <div class="w3-row fclr1 f-14 ft-b">Senior Application Specialist</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-envelope mr8" aria-hidden="true"></i>rakesh@kodys.com</div>
            </div>
          </div>
          </div>
        </div>
        <div class="w3-row ml-40">
          <div class="w3-row">
            <p class="f-16 fclr5 ft-b">Customer support Executives</p> 
          </div>
          <div class="w3-row">
            <div class="w3-col l4">
             <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Andhra Pradesh & Telangana</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
              <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Maharashtra & Gujarat</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
              <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Uttar Pradesh, Chhattisgarh</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
              <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Bihar, Odisha, Jharkhand</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
            </div>
            <div class="w3-col l4">
             <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">West Bengal, Assam</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
              <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Madhya Pradesh</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
              <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Delhi, Punjab</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
              <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Rajasthan, Uttaranchal, J&K</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
            </div>
            <div class="w3-col l4">
             <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Karnataka</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
              <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Tamil Nadu</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
              <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Chandigarh, Haryana</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
              <div class="w3-row mb16">
               <div class="w3-row fclr1 f-14 ft-b">Kerala</div>
              <div class="w3-row fclr1 f-12"><i class="fa fa-phone mr8" aria-hidden="true"></i>+91 97901 23232</div>
             </div>
            </div>

          </div>
        </div>
      </div>
      <div class="w3-col w551  bgclr7">
        <div class="w3-container ml2p ">
          <div class=" mt4p mb2p">
          <span class="f-18 ff-r ft-b fclr1">Request for a service</span><br>
          <span class="f-12 ff-r fclr1 ft-b">Please submit the service request form below. Kodys team will get back to you shortly.</span>
        </div>
          <div>
          <form>
            <div class="w3-row-padding">
              <div class="w3-row pt8 pb4">
                <div class="w3-col m3">
                  <label class="f-r pt8 pb8  f-12 ff-r fclr1 ft-b">Hospital/ClinicName</label>
                </div>
                <div class="w3-col m8">
                <input class="w3-input brbclr1 h30 f-14 ff-r fclr1 ml16" name="hospitalname" type="text" placeholder="">
                </div>
              </div>
              <div class="w3-row pt4 pb4">
                <div class="w3-col m3">
                  <label class="f-r pt8 pb8 f-12 ff-r  fclr1 ft-b">Doctor Name</label>
                </div>
                <div class="w3-col m8">
                <input class="w3-input brbclr1 h30 f-14 ff-r fclr1 ml16" name="doctorname" type="text" placeholder="">
                </div>
              </div>
              <div class="w3-row pt4 pb4">
                <div class="w3-col m3">
                  <label class="f-r pt8 pb8 f-12 ff-r  fclr1 ft-b">Mobile Number</label>
                </div>
                <div class="w3-col m8">
                <input class="w3-input brbclr1 f-14 h30 ff-r fclr1 ml16" name="mobileno" type="tel" placeholder="">
                </div>
              </div>
              <div class="w3-row pt4 pb4">
                <div class="w3-col m3">
                  <label class="f-r pt8 pb8 f-12 ff-r  fclr1 ft-b">E-mail Id</label>
                </div>
                <div class="w3-col m8">
                <input class="w3-input brbclr1 f-14 h30 ff-r fclr1 ml16" name="email" type="email" placeholder="">
                </div>
              </div>
              <div class="w3-row pt4 pb4">
                <div class="w3-col m3">
                  <label class="f-r pt8 pb8 f-12 ff-r  fclr1 ft-b">Product Name</label>
                </div>
                <div class="w3-col m8">
                <input class="w3-input brbclr1 h30 f-14 ff-r fclr1 ml16" name="productname" type="text" placeholder="">
                </div>
              </div>
              <div class="w3-row pt4 pb4">
                <div class="w3-col m3">
                  <label class="f-r pt8 pb8 f-12 ff-r mr16 fclr1 ft-b">Address</label>
                </div>
                <div class="w3-col m8">
                <input class="w3-input brbclr1 h30 f-14 ff-r fclr1 ml16" name="address" type="text" placeholder="">
                </div>
              </div>
              <div class="w3-row pt4 pb16">
                <div class="w3-col l3">
                  <label class="f-r pt8 pb8 f-12 ff-r  fclr1 w98 ft-b">Nature of Problem</label>
                </div>
                <div class="w3-col l8">
                  <textarea class="w3-input brbclr1  f-14 ff-r fclr1 h113 ml16" name="prblmnature"></textarea>
                </div>
              </div>
              <div class="w3-row mt9">
                <div class="w3-col l3"><p></p>
                </div>
                <div class="w3-col l8 ">
                  <div class="myLabel h30 w90 bgclr6 brclr9 ta ml16">
                             <input type="file"/>
                             <span class="f-12 ff-r w3-text-white" >
                              <i class="fa fa-paperclip pr2 pl4 mlng6 fa-rotate-90"  aria-hidden="true"></i>Attach Files</span>
                </div>
                </div>
              </div>
              <div class="w3-row  pb8 mt56 mr24">
                <div class="w3-col m12 w3-padding-16">
                <button class="w80 h30 f-12 ff-r f-r bgclr8 brclr3 w3-text-white ta">Submit</button>
                </div>
              </div>  
              
          </div>
          </form>
        </div>
          
        </div>
      </div>
    </div>
</div>
</body>
</html>