<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ThermoHcpReportPage</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="/app_assets/media/css/kodysreports.css">
	<script type="text/javascript" src="loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['Foot', 'Right', 'Left'],
          ['Toe',  35.2,35.7],
          ['1st',  45,40],
          ['3st',  45,40],
          ['5st',  45,40],
          ['Arc',  45,40],
          ['Heal',  45,40],
        ]);

        var options = {
          title : 'Warm',
          vAxis: {title: 'TH'},
          hAxis: {title: ''},
          seriesType: 'bars',
          series: {2: {type: 'line'}}
        };
        var data1 = google.visualization.arrayToDataTable([
          ['Foot', 'Right', 'Left'],
          ['Warm',  35.2,35.7],
          ['Cool',  45,40]
        ]);

        var options1 = {
          title : 'Average',
          vAxis: {title: 'TH'},
          hAxis: {title: ''},
          seriesType: 'bars',
          series: {2: {type: 'line'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        var chart1 = new google.visualization.ComboChart(document.getElementById('chart_div1'));
        chart1.draw(data, options);
        var chart2 = new google.visualization.ComboChart(document.getElementById('chart_div2'));
        chart2.draw(data1, options1);
      }
    </script>
</head>
<body>
<div class=" bg_white ft-family a4" >
	<div class="brclr_black ml8 mr8 pt16">
		<div class="h80  text_center pl8 pr8">
			<div class="color_green f-18 ft-b h40 lh12">
				SRI LAXSHMI NARAYANA INSTITUTE OF MEDICAL SCIENCES
				AND RESEARCH CENTRE
			</div>
			<div class="color_red f-13 h13 ">
				Plot No.347,No.9,12thEast Street,Kamaraj Nagar,Thiruvanmiyur,Chennai-600041.
			</div>
			<div class="color_blue f-13 h13 mt1">
				Ph:04256-76778699,678989966 Mob;02343476768 Mail:kodymaedical@gmail.com
			</div>
	    </div>
	</div>
	<div class="w3-row">
		<div class="w3-row ml35 mr35 w100p">
			<div class="w3-row mt4 mb4">
				<div class="w3-col-l6">
					<div class="w3-row">
						<div class="w3-col-l4 f-13 ft-b">Patient Name:
						</div>
						<div class="w3-col-l6 ft-b f-13">
						</div>
					</div>
				</div>
				<div class="w3-col-l6">
					<div class="w3-row">
						<div class="w3-col-l4 f-13 ft-b">Patient ID:
						</div>
						<div class="w3-col-l6 ft-b f-13">
						</div>
					</div>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-col-l6">
					<div class="w3-row">
						<div class="w3-col-l4 f-13 ft-b">Age/Sex:
						</div>
						<div class="w3-col-l6 f-13 f-b">
						</div>
					</div>
				</div>
				<div class="w3-col-l6">
					<div class="w3-row">
						<div class="w3-col-l4 f-13 ft-b">Date&Time:
						</div>
						<div class="w3-col-l6 f-13 ft-b">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="w3-row f-16 text_center text_underline color_red mt4 ft-b w100p">
			DIABETIC NEUROPATHY TESTING REPORT- HCP
		</div>
		<div class="w3-row brclr_row_black   mr26 ml26 ">
			<div class="w3-row mt8 w100p">
				<div class="w3-col-l6 pl16 pr16">
					<div class="w3-row f-15 text_center text_underline color_brown ft-b">
						Warm Perception Study
					</div>
					<div class="h270 w3-display-container">
						<img src="/app_assets/media/img/warm_hcp_report_foot.svg" alt="hcp_warm_foot" class="w100p h100 pr">
						<span class="pa f-12 t17 l82">35.2</span>
						<span class="pa f-12 t62 l73">35.3</span>
						<span class="pa f-12 t60 l36">35.3</span>
						<span class="pa f-12 t92 l11">35.3</span>
						<span class="pa f-12 t142 l57">35.3</span>
						<span class="pa f-12 b20 l54">35.3</span>
						<span class="pa f-12 t17 r85">35.2</span>
						<span class="pa f-12 t62 r75">35.3</span>
						<span class="pa f-12 t60 r38">35.3</span>
						<span class="pa f-12 t92 r13">35.3</span>
						<span class="pa f-12 t142 r59">35.3</span>
						<span class="pa f-12 b20 r56">35.3</span>
					</div>
				</div>
				<div class="w3-col-l6 pl16 pr16 f-r">
					<div class="w3-row f-15 text_center text_underline color_dark_blue ft-b">
						Cool Perception Study
					</div>
					<div class="w3-row">
						<div class=" h270 w3-display-container">
						<img src="/app_assets/media/img/cool_hcp_report_foot.svg" alt="hcp_warm_foot" class="w100p h100 pr">
						<span class="pa f-12 t17 l82">35.2</span>
						<span class="pa f-12 t62 l73">35.3</span>
						<span class="pa f-12 t60 l36">35.3</span>
						<span class="pa f-12 t92 l11">35.3</span>
						<span class="pa f-12 t142 l57">35.3</span>
						<span class="pa f-12 b20 l54">35.3</span>
						<span class="pa f-12 t17 r85">35.2</span>
						<span class="pa f-12 t62 r75">35.3</span>
						<span class="pa f-12 t60 r38">35.3</span>
						<span class="pa f-12 t92 r13">35.3</span>
						<span class="pa f-12 t142 r59">35.3</span>
						<span class="pa f-12 b20 r56">35.3</span>
					</div>
					</div>
				</div>
				
			</div>
			<div class="w3-row mt16 mb8">
				<div class="w3-col-l4 " style=";border: 1px solid;display:inline-block;margin-left: 12px;">
					<div id="chart_div" style="width: 100%;height: 100%"></div>
					<!-- <div class="w3-row f-10 text_center ft-b">Warm
					</div>
					<div class="w3-row h166 brblac">
					</div> -->
				</div>
				<div class="w3-col-l4" style=";border: 1px solid;display:inline-block;margin-right: 14px;margin-left: 14px;">
					<div id="chart_div1" style="width: 100%;height: 100%"></div>
					<!-- <div class="w3-row f-10 text_center ft-b">Cool
					</div>
					<div class="w3-row h166 brblac">
					</div> -->
				</div>
				<div class="w3-col-l4" style=";border: 1px solid;display:inline-block;">
					<div id="chart_div2" style="width: 100%;height: 100%"></div>
					<!-- <div class="w3-row f-10 text_center ft-b">Result Average
					</div>
					<div class="w3-row h166 brblac">
					</div> -->
				</div>
			</div>
			<div class="w3-row f-9 text_center">
				**All Values are in c
			</div>
		</div>
		<div class="w3-row lh11 mt4 ml55 mr30">
			<div class="w3-row">
				<div class="w3-col-l6 f-12">
					<div class="w3-row">
						<div class="w3-col l7">Right Foot Warm PT Average
						</div>
						<div class="w3-col-l4">:<span>36.5</span><span>-</span>
							<span class="color_green">Normal</span>
						</div>
					</div>
				</div>
				<div class="w3-col-l6 f-12">
					<div class="w3-row">
						<div class="w3-col l7">Right Foot Cool PT Average
						</div>
						<div class="w3-col-l4">:<span>27.2</span><span>-</span>
							<span class="color_brown">Abnormal</span>
						</div>
					</div>
				</div>
			</div>
			<div class="w3-row">
				<div class="w3-col-l6 f-12">
					<div class="w3-row">
						<div class="w3-col l7">Left Foot Warm PT Average
						</div>
						<div class="w3-col-l4">:<span>36.5</span><span>-</span>
							<span class="color_green">Normal</span>
						</div>
					</div>
				</div>
				<div class="w3-col-l6 f-12">
					<div class="w3-row">
						<div class="w3-col l7">Left Foot Cool PT Average
						</div>
						<div class="w3-col-l4">:<span>27.2</span><span>-</span>
							<span class="color_brown">Abnormal</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="w3-row ml26 f-11 mt8 lh11">
				<span class="ft-b ">Comments</span><br>
				Sample Report
		</div>
		<div class="w3-row ml26 mt16 mb4">
			<div class="w3-col l8 f-11 lh11">
				Dr.A.K.Sundar Raman.M.D,D.M (Endo).,<br>
				<span class="ft-b">Doctor</span>
			</div>
			<div class="w3-col-l4 f-11 lh11">
				Mrs.K.Joselin<br>
				<span class="ft-b">Examiner</span>
			</div>
		</div>
		<div class="w3-row ml8 mr8 brtop_black">
			<div class="w3-row text_center f-8 pb25 ft-b pt2">Software Designed and Supported by KODYS www.kodymedical.com
			</div>
		</div>

	</div>

</div>	
</body>
</html>